@import 'mixlinkweb';
@import 'mixlinkmob';
@import 'variabler';

/*________HEADER________*/

.logo {
  background-image: url('../images/logo2.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  margin: 10px;
  margin-left: 20px;
  display: flex;
  flex: 5 5 60%;
    
    @media screen and (min-width: 800px) {
        
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    height: 105px;
    width: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-size: auto;
    background-size: 250px;
    background-color: rgba(255, 255, 255, 0);
    background-position: left;}
}

.site-navigation {
    li:first-child, li:last-child{
    @extend %children;}
}
#drop li:first-child,
#drop li:last-child,
#drop_down li:first-child,
#drop_down li:last-child {
  @extend %children;
}

.site-navigation {
  position: absolute;
  top:4.7em;
  right:0px;
  width:300px;
  z-index: 14;
  -webkit-transition: all .3s;
          transition: all .3s;
  ul {
    list-style: none;
    @extend %margpad0;}
  a {
    text-decoration: none;
    color: #aaa;}
  li {
    @include link-mob(2em, $bg_greyblack);}
  label {
    cursor: pointer;}
  
  @media screen and (min-width: 500px) {
  li:hover:nth-child(n+2):nth-child(-n+8) {
    background: $bg_whitegrey;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    text-shadow: 1px 1px 1px #3b3b3b;
    }
  }
  @media screen and (min-width: 800px) {
    position: relative;
    top: auto;
    right: auto;
    flex: 1 1 auto;
  ul {
    display: flex;
    flex-flow: row wrap;}
  li {
    flex: 2 1 5%;
    text-align: center;
    padding: 2em 0.5em 2em 0.5em;
    border-left: 1px solid $color_grey;
    border-right: 1px solid $color_black;
    border-bottom: 0px;
    border-top: 0px;}
      
   li:first-child,li:last-child {
    background: linear-gradient(to bottom, #222222 0%, $color_black 100%);}
      
   li:first-child {
    border-top-left-radius: 10px;
    flex: 0 1 5%;
    min-height:89px;} 
      
   li:last-child {
    border-top-right-radius: 10px;
    flex: 0 1 10%;
    min-height:89px;}
    }
}

#drop { 
    li{background: $bg_greygrey; }
    
    @media screen and (min-width: 500px) {
        
    li:hover:nth-child(n+2):nth-child(-n+8) {
        
    background: $bg_whitegrey;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    text-shadow: 1px 1px 1px #3b3b3b;
    }
    }
}
#drop_down { 
    li{background: $bg_lightgreygrey;}
}

#drop,
#drop_down {
  display: none;
  max-width: 900px;
  @extend %margpad0;
    
  ul{
    flex-flow:row wrap;
    flex:1 1 100%;}
    
  li {
  padding: 1em;}
  
  @media screen and (min-width: 800px) {
    position: absolute;
    top: 92px;
    left: 0;
    right: 0;
    flex-flow: column wrap;
      
    ul{
    flex-flow:row wrap;
    flex:2 1 5%;}
      
    li{
    padding: 0.5em;
    height: 40px;}
  }}
    
@media screen and (min-width: 800px) {
    #drop_down {
    top: 40px;}
 
    #drop li:first-child,
    #drop_down li:first-child {
    background: rgba(240, 248, 255, 0);
    border-top-left-radius: 0px;
    border: 0;}
      
    #drop li:last-child,
    #drop_down li:last-child {
    background: rgba(240, 248, 255, 0);
    border-top-right-radius: 0px;
    border: 0;}  
}

#heed {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 100%;
  border-top: 4px solid #ef8000;
  background-image: linear-gradient(to bottom, #ffffff 0%, #919191 100%);
  border-bottom: 4px solid #ef8000;
  
  #bars {
  padding: 10px;
  background: $bg_greyblack;
  color: #b2b2b2;
  display: flex;
  width: 20%;
  flex: 1 0 auto;
  justify-content: space-around;}

#menu {
     display: none;
 @media screen and (min-width: 800px) { 
     flex: 1 1 auto;
     display: flex!important;}
}
    
@media screen and (min-width: 500px) {
  #bars:hover {
    color: #818181;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;}
}
  
@media screen and (min-width: 800px) {
    
  border-top: 0px solid #000;
  background: rgba(255, 255, 255, 0);
  
  #bars {
    display: none;}
    
  }
}