/*all comments on this page is written on the row above the code in question*/

@import 'offer';
@import 'header';
@import 'main';
@import 'footer';
@import 'variabler';



/*Mallar*/
%children {
  height: 5px;
  padding: 0;
}
%margpad0{
  margin:0;
  padding:0;}
%hoverwhite{
    background: $bg_whitegrey;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    text-shadow: 1px 1px 1px #3b3b3b;}

/*_____________________________________mobile first */

@charset "UTF-8";
* {
  box-sizing: border-box;
}
/* declare rules/design for the hole page*/

body {
  font-family: "Lucida Sans Unicode", 'Open Sans', sans-serif;
  -webkit-animation: bugfix infinite 1s;
  background: url(../images/background.jpg);
    background-size: 100%;
    @extend %margpad0;
}

.everything{
  width: 100%;
  min-height: 100%;
  max-width: 900px;
  @extend %margpad0;
  margin-left: auto;
  margin-right: auto;}


/*this is the class for the picture*/
.img {
  width: 98%;
  height: 98%;
  max-width: 500px;
}
/*________CHECKBOX________*/

input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
/* Toggled State */

input[type=checkbox]#toggle:checked ~ #menu {
    display: flex;}
input[type=checkbox]#toggle2:checked ~ #drop {
    display: flex;}
input[type=checkbox]#toggle3:checked ~ #drop_down {
  display: flex;}




